body {
    background-color: #fff;
    font-family: sans-serif;
    width: 348px;
    margin: 0;
}

.header {
    line-height: 20px;
    padding: 18px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.header h3 {
    margin: 0;
}

.flex {
    display: flex;
}

/* Settings and Options CSS */

.settings {
    max-width: 300px;
    margin: auto;
}

.title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin: 18px 0;
}

.option {
    font-size: 14px;
    line-height: 20px;
    padding: 16px 0;
    align-items: center;
    position: relative;
    margin: auto;
}

.option label {
    width: 100%;
    height: 100%;
    align-items: flex-start;
    position: relative;
    cursor: pointer;
}

/* Toggle Switch CSS */

.toggle {
    flex-direction: row-reverse;
}

.toggle input {
    display: none;
    cursor: pointer;
}

.toggle .control {
    right: 0;
    height: 20px;
    width: 50px;
    border-radius: 10px;
    background-color: #6d758d;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: background-color 0.15s ease-in;
}

.toggle input:checked ~ .control {
    background-color: #11a683;
}

.toggle input:checked ~ .control:hover {
    background-color: #15c39a;
}

.toggle input ~ .control:hover {
    background-color: #9fa6bf;
}

.toggle .control:after {
    content: "";
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #fff;
    position: absolute;
    display: inline-block;
    transition: left 0.15s ease-in;
}

.toggle input:checked ~ .control:after {
    left: 32px; 
}
